<%= form_for(@topup) do |f| %>
<% if @topup.errors.full_messages.present? %>
	<div class="alert alert-error">  
	  <a class="close" data-dismiss="alert">×</a>  
	  <p> We can not process your lastest request due to the following errors:
	  <ul>
	    <% @topup.errors.full_messages.each do |msg| %>
		 <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>  
<% end %>

<%= f.label :credit %>
<%= f.text_field :credit %><br /><br />

<%= f.label :topup_date %>
<%= f.text_field "topup_date", "data-behaviour" => "datepicker", "data-format" => "yyyy-mm-dd" %><br />

<%= f.label :user %>
<%= f.select :user_id, options_from_collection_for_select(User.all,"id", "email"), {prompt: "Select User"} %><br/><br />

<%= f.submit %>
<% end %>