<section id="content" class="cols-a">
  <article class="vcard">
    <div class="tabs-a">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <legend> SIGN UP </legend>
          <%= devise_error_messages! %>

          <h3><span>Full Name</span></h3>
          <p>
            <span>
              <%= f.text_field :name, required: true %>
            </span>
          </p>
          
          <h3><span>Email Address</span></h3>
          <p>
            <span>
              <%= f.email_field :email, autofocus: true, required: true %>
            </span>
          </p>

          <h3><span>Your Company</span></h3>
          <p>
            <span>
              <%= f.text_field :company, autofocus: true, required: true %>
            </span>
          </p>

          <h3><span>Your Department</span></h3>
          <p>
            <span>
              <%= f.text_field :department, autofocus: true, required: true %>
            </span>
          </p>

          <h3><span>Phone Number</span></h3>
          <p>
            <span>
              <%= f.text_field :phone, autofocus: true, required: true %>
            </span>
          </p>

          <h3><span>Your Password</span></h3>
          <p>
            <span>
              <%= f.password_field :password, required: true %>
            </span>
          </p>

          <h3><span>Your Password Confirmation</span></h3>
          <p>
            <span>
              <%= f.password_field :password_confirmation, required: true %>
            </span>
          </p>

          <p class="submit"><button class="btn btn-info">JOIN NOW</button></p>
        </fieldset>
      <% end %>
    </div>
  </article>
  <aside style="padding:6px;">
    <h4>
      <%= render "devise/shared/links" %>
    </h4>
  </aside>
</section>