<header id="top">
  <nav id="nav">
    <ul class="primary">
      <li>
        <%= link_to root_path do %>
          Home
        <% end %>
      </li>
      <li><%= link_to about_path do %>
        About
      <% end %>
      </li>
      <li><%= link_to rooms_path do %>
        Rooms
      <% end %>
      </li>
      <li>
        <%= link_to contact_path do %>
          Contact Us
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to orders_path do %>
            Orders
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to carts_path do %>
          Carts
        <% end %>
      </li>
    </ul>
  </nav>
</header> 