<header id="top">
  <h1>SAP Meeting Room</h1>
  <nav id="nav">
    <ul class="primary">
      <li>
        <%= link_to root_path do %>
          Home
        <% end %>
      </li>
      <li><%= link_to about_path do %>
        About
      <% end %>
      </li>
      <li><%= link_to rooms_path do %>
        Rooms
      <% end %>
      </li>
      <li>
        <%= link_to contact_path do %>
          Contact Us
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to orders_path do %>
            Orders
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to carts_path do %>
          Carts
        <% end %>
      </li>
    </ul>
    <p class="link-a">
      <% if user_signed_in? %>
        Sign in as <u><%= current_user.name %></u> &nbsp;&nbsp;&nbsp; <%= link_to "Edit My Account", edit_user_registration_path %> 
       <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </p>
  </nav>

  <p class="tel">Call us today <span>(84) - 868 868 888</span></p>
</header> 