<div class="titleLine">
  <div class="container-fluid">
    <div class="pull-left">
      <div class="titleIcon"><i class="icon-check"></i></div>
      <ul class="titleLineHeading">
        <li class="heading"><h1>Room Orders</h1></li>
      </ul>
    </div>
    <div class="pull-right" style="line-height: 45px;">
      <% if current_user.room_admin? || current_user.super_admin? %>
        <%= link_to "Create Booking", new_private_room_order_path, class: "btn btn-primary", "data-push"=>"true", "data-target"=>"div.content" %>
      <% else %>
        <%= link_to "Create Booking", root_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>
<ul class="breadcrumb">
  <li>
    <i class="icon-home active"></i>
    <%= link_to "Home", private_dashboard_path %>
    <span class="divider"><i class="icon-angle-right"></i></span>
  </li>
  <li>Room Orders <span class="divider"><i class="icon-angle-right"></i></span></li>
  <li class="active">List</li>
  <li class="moveDown pull-right">
    <span class="time"></span>
    <span class="date"></span>
  </li>   
</ul>

<div class="container-fluid">
  <%= render "private/shared/notification" %>
  <div class="row-fluid">
    <div class="span12">
      <div class="containerHeadline tableHeadline">
        <i class="icon-calendar"></i><h2>Orders</h2>
        <form>
          <div class="input-append">
            <input class="inp-mini span8" type="text" placeholder="enter keywords..." name="keywords">
            <span class="add-on add-on-first add-on-mini"><i class="icon-search"></i></span>
            <span class="add-on add-on-middle add-on-mini minimizeTable"><i class="icon-caret-down"></i></span>
          </div>
        </form>
      </div>
      <div class="floatingBox table">
        <div class="container-fluid">
          <table class="table table-striped">
            <thead >
              <tr>
                <th style="width: 110px;">Booked At</th>
                <th>Booking No</th>
                <th style="width: 50px;">Status</th>
                <th>Customer</th>
                <th>Rooms</th>
                <th>Actions #</th>
              </tr>
            </thead>
            <tbody>
              <% @room_orders.each do |order| %>
                <tr>
                  <td>
                   <%= order.order_at.strftime("%d %b %Y %H:%M") %>
                  </td>
                  <td style="width: 120px;">
                    <b><%= link_to truncate(order.code, length: 25), send("edit_private_#{order.type.tableize.singularize}_path", order), "data-push"=>"true", "data-target"=>"div.content" %></b>
                  </td>
                  <td>
                    <span class="label <%= status_class(order.status) %>"><%= order.status.downcase %></span>
                  </td>
                  <td style="width: 120px;">
                    <b><%= link_to truncate(order.user_name, length: 25), edit_private_user_path(order.user_id), "data-push"=>"true", "data-target"=>"div.content" %></b>
                  </td>
                  <td style="max-width: 500px;">
                    <div class="row-fluid">
                      <% order.items.each do |order_item| %> 
                        <div class="span6" style="margin-left: 0px;">
                          <div style="display: inline-block">
                            <%= image_tag order_item.room.picture.url(:thumb), style:"width: 50px;position:relative;margin-top: -20px;" %>
                          </div>
                          <div style="display: inline-block">
                            <%= link_to order_item.room.name, room_path(order_item.room_id), "data-push"=>"true", "data-target"=>"div.content" %> <br/>
                            <%= order_item.check_in_date.strftime("%a, %d %b %Y") %> 
                            (<%= Time.at(order_item.start_time).strftime("%H:%M") %> - <%= Time.at(order_item.end_time).strftime("%H:%M") %>)
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </td>
                  <td class="action" style="max-width: 75px;">
                    <%= link_to send("private_#{order.type.tableize.singularize}_path", order, room_order: {status: Order::Status::APPROVED}), method: :put, class: "btn btn-small" do %>
                      <i class="icon-check"></i>
                      Approve
                    <% end if (order.pending? || order.canceled?) && (current_user.room_admin? || current_user.super_admin?) %>
                    <%= link_to send("private_#{order.type.tableize.singularize}_path", order, room_order: {status: Order::Status::CANCELED}), method: :put, class: "btn btn-small" do %>
                      <i class="icon-remove"></i>
                      Cancel
                    <% end if order.approved? || order.pending? %>
                    <%= link_to send("edit_private_#{order.type.tableize.singularize}_path", order), class: "btn btn-small", "data-push"=>"true", "data-target"=>"div.content" do %>
                      <i class="icon-pencil"></i>
                      Edit
                    <% end %>
                    <%= link_to send("private_#{order.type.tableize.singularize}_path", order), method: :delete, confirm: "Do you will delete order no #{order.code}, are you sure?", class: "btn btn-small" do %>
                      <i class="icon-trash"></i>
                      Delete
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pull-left">
            <%= page_entries_info @room_orders %>
          </div>
          <div class="pull-right">
            <%= paginate @room_orders %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>