<h1>Confirm Your Booking Room</h1>
  <table class="table" style="float:left; border-top:1px solid;">
    <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Check In</th>
      <th>Check Out</th>
    </tr>
    </thead>
      <tbody>
      <% @cart.cart_items.each do |cart| %>
        <tr>
          <td><%= image_tag cart.room.picture.url(:thumb)  %></td>
          <td><%= cart.room.try(:name)        %></td>
          <td><%= cart.room.try(:description) %></td>
          <td><%= cart.try(:check_in)    %></td>
          <td><%= cart.try(:check_out)   %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
  <%= form_tag orders_path, :method => :post do %>
  <%= submit_tag "Approve?", class: "btn btn-info" %>
  <% end %>