<article>
  <h2>Confirm Your Reservation</h2>
  <table>
    <thead>
      <th colspan="2">Room</th>
      <th> Check In </th>
      <th> Start On </th>
      <th> End On   </th>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td style="width:60px;">
            <%= image_tag cart_item.room.picture.url(:medium), style: "height: 50px;" %>
          </td>
          <td>
            <%= link_to cart_item.room.name, room_path(cart_item.room) %>
          </td>
          <td>
            <%= cart_item.check_in_date.strftime('%d-%B-%Y') %>
          </td>
          <td>
            <%= cart_item.start_time.strftime('%H:%M') %>
          </td>
          <td>
            <%= cart_item.end_time.strftime('%H:%M') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</article>  

<aside class="vcard" style="padding: 10px; border: 1px solid #cecece;border-radius: 5px;">
  <div class="tabs-a">
    <%= form_tag orders_path, method: :post do %>
      <fieldset>
        <legend style="display:block;"> Please complete form below: </legend>

        <h3><span>Company Name</span></h3>
        <p>
          <span>
            <%= text_field_tag :company, current_user.company||params[:company], placeholder: "write your company name here", required: true %>
          </span>
        </p>
        
        <h3><span>Department Name</span></h3>
        <p>
          <span>
            <%= text_field_tag :department, current_user.department||params[:department], placeholder: "write your department here", required: true %>
          </span>
        </p>
        <h3><span>Your Name</span></h3>
        <p>
          <span>
            <%= text_field_tag :full_name, current_user.name||params[:full_name], placeholder: "please enter your name", required: true %>
          </span>
        </p>

        <h3><span>Phone No. / Phone Ext</span></h3>
        <p>
          <span>
            <%= text_field_tag :phone, current_user.phone||params[:phone], placeholder: "please enter your name", required: true %>
          </span>
        </p>

        <p class="submit" style="text-align:center;"><button class="btn btn-info">SUBMIT BOOKING</button></p>
      </fieldset>
    <% end %>
  </div>
</aside>


