<div class="container-fluid login-container">
  <%= render "private/shared/errors" %>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading"><strong>Office</strong> Service</h2>
    <div class="control-group">
      <div class="controls">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.hidden_field :reset_password_token %>
        <%= f.password_field :password, placeholder: "Enter new password", required: true %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password_confirmation, placeholder: "Confirm new password", required: true %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <div class="pull-right">
          <button class="btn btn-primary" type="submit">Change Now</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <div class="signInRow">
    <div><h1>Reset Password</h1></div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>