<div id="ac_background" class="ac_background" image-default="<%= image_path("front-meetingroom.jpg") %>">
  <%= image_tag "front-meetingroom.jpg", border: 0, class: "ac_bgimage", alt: "Background" %>
  <div class="ac_overlay"></div>
  <div class="ac_loading"></div>
</div>
<div id="ac_content" class="ac_content">
  <h1><span>Meeting</span>Room</h1>
  <div class="ac_menu">
    <ul>
      <%= render partial: 'room', collection: @rooms, inline: true %>
    </ul>
  </div>
</div>
<div class="ac_footer">
  <%= render 'cart' %>
  <a class="ac_left" href="#"><span>&copy; copyrights</span> PT Sekawan Abadi Prima</a>
  <%= link_to "Login", "", class: "login" %>
  <%= link_to " | ", "#", class: "login" %>
  <%= link_to "#", class: "booking-status" do %>
    Bookings:
    <span class="total-book"><%= @cart.cart_items.count %></span>
  <% end %>
</div>
<div class="alert alert-error hide"></div>
<div class="alert alert-success hide"></div>