<h1> ORDER ID : <%= @order.id %></h1>

<table class="table">
	<thead>
		<tr>
		  <th>Order Name</th>
		  <th>Check In</th>
		  <th>Start On</th>
		  <th>End On</th>
		</tr>
	</thead>

	<tbody>
		<% total = 0 %>
		<% @order.order_items.each do |order_item|%>
			<tr>
				<td>
	        <%= image_tag order_item.room.picture.url(:medium) %>
				  <%= link_to order_item.room.try(:name), room_path(order_item.room) %>
				</td>
				<td><%= order_item.check_in_date.strftime("%a, %d %b %Y") %></td>
				<td><%= Time.at(order_item.start_time).strftime("%H:%M") %></td>
				<td><%= Time.at(order_item.end_time).strftime("%H:%M") %></td>	
		  </tr>
		<% end %>
	</tbody>
</table>