<section style="width:100%; float:left;">
	<div class="news-d">
		<% @rooms.each do |room| %>
			<article>
				<header>
					<figure class="homefig"><%= image_tag room.picture.url(:large) %></figure>
					<h3><%= link_to room.name, room_path(room) %></h3>
					<% if room.price.to_i > 0 %>
					  <p class="scheme-i"><span>Rp.</span><%= room.price %></p>
					<% end %>
				</header>
				<p>
					<%= truncate(sanitize(room.description), length: 200) %>
					<%= link_to "View Details", room_path(room), class: "link" %>
				</p>
				<footer>
					<p>Domikado Meeting Room - Jakarta</p>
				</footer>
			</article>
		<% end %>
	</div>
</section>