<section id="content" class="cols-a">
  <article id="content" class="cols-d">
    <div>
      <h3>Information</h3> 
        <h4 class="scheme-g">User Infomation</h4>
          <ul class="list-c">
            <% if user_signed_in? %>
            <li><span>Full Name</span> <%= current_user.name %></li>
             <li><span>Email Address</span> <span class="email"><%= current_user.email %></span></li>
            <% else %>
            <% end %>
            <% if user_signed_in? %>
            <h1><span>Hello, <%= current_user.name %></span></h1>
            <br/>
            <% end %>
          </ul>
          <ul class="list-c">  
            <% @cart.cart_items.each do |cart_item| %>
              <li><span>Room Name</span><%= cart_item.room.name %></span></li>
              <li><span>Picture</span>
              <%= image_tag cart_item.room.picture.url(:medium) %>
              </li>
              <li><span>Room price</span><%= number_to_currency(cart_item.room.price, unit: "Rp.", format: "%u %n") %></span></li>
              <li><span>Check in Date</span><%= cart_item.check_in_date.strftime('%d-%B-%Y') %></li>
              <li><span>Start Time</span><%= cart_item.start_time.strftime('%H:%M:%S') %></li>
              <li><span>End Time</span><%= cart_item.end_time.strftime('%H:%M:%S') %></li>
              <% cart_item.facility.each do |facility| %>
                <li><span>Facilities</span><%= facility.name %>( <%= facility.description %> )</li>
              <% end %>
            <% end %>
          </ul>  
      <p class="link-c">
      <%= link_to "Reservation", check_out_users_path %>
      <!--   <a href="./">Print receipt</a> -->
      </p>   
    </div>
  </article>    
</section>
