<article id="content">
  <h2>Reservation Information</h2>
  <table>
    <thead>
      <th colspan="2">Room</th>
      <th> Check In </th>
      <th> Start On </th>
      <th> End On   </th>
      <th> Action   </th>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td style="width:60px;">
            <%= image_tag cart_item.room.picture.url(:medium), style: "height: 50px;" %>
          </td>
          <td>
            <%= link_to cart_item.room.name, room_path(cart_item.room) %>
          </td>
          <td>
            <%= cart_item.check_in_date.strftime('%d-%B-%Y') %>
          </td>
          <td>
            <%= Time.at(cart_item.start_time).strftime('%H:%M') %>
          </td>
          <td>
            <%= Time.at(cart_item.end_time).strftime('%H:%M') %>
          </td>
          <td>
            <%= link_to "Delete", cart_item_path(cart_item), :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
  <p class="link-c">
    <%= link_to "Check Out", checkout_private_users_path %>
  </p>
</article>    

