<h2><span>Thank you</span>, your booking is complete</h2>  
<p>Your comfirmation number is <span>223686</span></p>          
<article id="content" class="cols-d">
  <div>
    <h3>Information</h3>
    <h4 class="scheme-g">User Infomation</h4>
    <ul class="list-c">
      <li><span>Full Name</span> <%= current_user.name %></li>
      <li><span>Email Address</span> <span class="email"><%= current_user.email %></span></li>
    </ul>
    <h4 class="scheme-g">Payment</h4>
    <p>Lorem ipsum dolor sit saelas met, consecttur ads ipi deese cing elit. Mauris fringilla bibe endums. Lorem ipsum dolor sit saelas met, consecttur ads ipi deese cing elit. Mauris fringilla </p>
    <h4 class="scheme-g">Special Request</h4>
    <p>Lorem ipsum dolor sit saelas met, consecttur ads ipi deese cing elit. Mauris fringilla bibe endums. Lorem ipsum dolor sit saelas met, consecttur ads ipi deese cing elit. Mauris fringilla </p>
    <p class="scheme-h">Grand Total : <span><span>$</span>790</span></p>
    <p class="link-c"><a href="./">Reservation</a> <a href="./">Print receipt</a></p>
  </div>
  <aside>
    <h3>Summary</h3>
    <div class="vcard a">
      <h4 class="fn org">Domikado Meeting Room</h4>
      <p class="adr">Domikado - <span class="locality">Jakarta</span>, <span class="country-name">Indonesia</span></p>
    </div>
    <h4 class="scheme-g">Summary</h4>
    <ul class="list-c">
      <% @cart.cart_items do |cart| %>
      <li><span>Room</span><%= cart.room.try(:name) %></li>
      <li><span>Price</span> $360</li>
      <li><span>Date</span><%= cart.try(:check_in_date) %></li>
      <li><span>Check in</span><%= cart.try(:start_time) %></li>
      <li><span>Check out</span><%= cart.try(:end_time) %></li>
      <% end %>
    </ul>
  </aside>
</article>