      <section id="content" class="cols-a">
        <article class="vcard">
          <header class="module-a">
            <h2 class="fn org"><%= @room.name %></h2>
            <p class="link"><a href="./">Return</a></p>
            <p class="addthis_toolbox addthis_default_style addthis_16x16_style"><span>Share:</span> <a class="addthis_button_email"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a></p>
          </header>
          <div class="slider-a">
            <figure><%= image_tag @room.picture.url(:large) %></figure>
            <figure><img src="http://placehold.it/693x283" alt="Placeholder" width="693" height="283"></figure>
            <figure><img src="http://placehold.it/693x283" alt="Placeholder" width="693" height="283"></figure>
          </div>
          <div class="tabs-a">
            <div>
              <div>
                <p><%= @room.description %></p>
              </div>
            </div>
          </div>
        </article>
<aside>
     <%= form_tag carts_path, :class => 'form-c' do %>
      <fieldset>
        <legend>Book now</legend>
        <h3><span>01. When?</span></h3>
        <p class="date-a">
          <span>
            <%= label_tag "Check in Date" %>
            <%= text_field_tag :check_in_date %>
          </span>
        </p>
        <h3><span>02. Duration</span></h3>
        <p class="time-a">
          <span>
            <%= label_tag "Check In Time" %>
            <%= text_field_tag :start_time, "", "class" => "timepick" %>
          </span>
          <p style="margin:0; line-height:0;">&nbsp;</p>
          <span>
            <%= label_tag "Check Out" %>
            <%= text_field_tag :end_time, "", "class" => "timepick" %>
          </span>            
        </p>
        <!-- <h3><span>03. Facilities</span></h3>
        <div>
          <ul class="check-d">
            <%# @facilities.each do |facility| %>
            <li>
              <%#= label_tag facility.name do %>
                <%#= check_box_tag facility.name %>
                <%#= facility.name %>
              <%# end %>
            </li>
            <%# end %>
          </ul>
        </div> -->
        <%= hidden_field_tag "room_id", @room.id %>
        <p class="submit"><button>Proceed</button></p>
      </fieldset>
    <% end %>
</aside>
      </section>
