<aside>
     <%= form_tag carts_path, :class => 'form-c' do %>
      <fieldset>
        <legend>Book now</legend>
        <h3><span>01. When?</span></h3>
        <p class="date-a">
          <span>
            <%= label_tag(:fcb, "Date") %>
            <%= text_field_tag "date", "", "id" => "fcc" %>
          </span>
        </p>
        <h3><span>02. Duration</span></h3>
        <p class="time-a">
          <span>
            <%= label_tag(:fcc, "Check In") %>
            <%= text_field_tag "start_time", "", "class" => "timepick" %>
          </span>
          <p style="margin:0; line-height:0;">&nbsp;</p>
          <span>
            <%= label_tag(:fcd, "Check Out") %>
            <%= text_field_tag "end_time", "", "class" => "timepick" %>
          </span>            
        </p>
        <h3><span>03. Facilities</span></h3>
        <div>
          <ul class="check-d">
            <% @facilities.each do |facility| %>
            <li>
              <%= label_tag facility.name do %>
                <%= check_box_tag facility.name %>
                <%= facility.name %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <p class="submit"><button>Proceed</button></p>
        <%= hidden_field_tag "room_id", @room.id %>
        <p class="submit"><button><%= submit_tag "BOOKING NOW" %></button></p>
      </fieldset>
    <% end %>
</aside>