<div class="row">
	<div class="span3">		
<h3 >Facilities</h3>
							
									  <% @room.facilities.each do |f| %>	
									    <%= f.name %>	
									  <% end %>	

	<%= form_tag carts_path, :class => 'form-c' do %>
	<legend style="z-index: 16;">Book now</legend>
	
			<label>Check In</label>
			  <div data-behaviour="datetimepicker1" class="input-append">
			    <%= text_field_tag "check_in", "", "data-format" => "yyyy-MM-dd hh:mm" %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			  </div>

			<p style="margin:0;">&nbsp;</p>

			<label>Check Out</label>
			  <div data-behaviour="datetimepicker1" class="input-append">
			    <%= text_field_tag "check_out", "", "data-format" => "yyyy-MM-dd hh:mm" %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			  </div>
			<%= hidden_field_tag "room_id", @room.id %>
			<%= submit_tag "BOOKING NOW" %>
		<% end %>
	</div>
	<div class="span1"></div>
	<div class="span5">
		<h1><%= @room.name %></h1>
		<%= image_tag @room.picture.url(:medium) %>
		<p><br /><%= @room.description %></p>
		<hr />
		<h3>Price</h3>
		<p><%= @room.price %></p>
	</div>
</div>