<div class="titleLine">
  <div class="container-fluid">
    <div class="titleIcon"><i class="icon-check"></i></div>
    <ul class="titleLineHeading">
      <li class="heading"><h1>Room</h1></li>
    </ul>
  </div>
</div>
<ul class="breadcrumb">
  <li>
    <i class="icon-home active"></i>
    <%= link_to "Home", private_dashboard_path %>
    <span class="divider"><i class="icon-angle-right"></i></span>
  </li>
  <li>Rooms <span class="divider"><i class="icon-angle-right"></i></span></li>
  <% if params[:action] =~ /new|create/i %>
    <li class="active"><%= params[:action].gsub(/new/i,"create").titleize %></li>
  <% else %>
    <li class="active"><%= @room.name.titleize %></li>
  <% end %>
  <li class="moveDown pull-right">
    <span class="time"></span>
    <span class="date"></span>
  </li>   
</ul>

<div class="container-fluid">
  <%= render "private/shared/notification" %>
  <%= render partial: "private/shared/errors", locals: {resource: @room} %>
  <%= form_for [:private, @room], html: {class: "form-horizontal contentForm"} do |f| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="containerHeadline new-form-<%= @room.new_record? %>">
          <i class="icon-pencil"></i><h2>Booking Form</h2>
          <% unless @room.new_record? %>
            <div class="controlButton pull-right btn-group">
              <%= link_to "Delete", private_room_path(@room), method: :delete, confirm: "Do you want delete this room?", class: "btn btn-small" %>
            </div>
          <% end %>
        </div>
        <div class="floatingBox">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span12">
                <div class="control-group">
                  <label class="control-label" for="Languages">Room Name</label>
                  <div class="controls">
                    <%= f.text_field :name, class: "span12" %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="Languages">Room Picture</label>
                  <div class="controls">
                    <%= f.file_field :picture %>
                    <br/>
                    <%= image_tag @room.picture.url(:thumb), width: "150px" %>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="Languages">Description</label>
                <div class="controls">
                  <%= f.text_area :description, class: "span12", rows: 4 %>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  <% end %>
</div>