<div class="hiddenContent">
  <div id="collapsedSidebarContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <ul class="collapsedSidebarMenu">
        <% if current_user.room_admin? || current_user.super_admin %>
          <li>
            <a href="#pendingRoomContent" class="sidebar">Pending Rooms
              <div class="notifyCircle cyan total_pending_room"><%= @pending_rooms.count %></div>
              <i class="icon-chevron-sign-right"></i>
            </a>
          </li>
        <% end %>
        <li>
          <a href="#profileContent" class="sidebar">
            <%= current_user.name %><i class="icon-chevron-sign-right"></i>
          </a>
        </li>
        <li class="sublevel">
          <%= link_to edit_private_user_path(current_user, do: "editProfile"), "data-push"=>"true", "data-target"=>"div.content" do %>
            edit profile<i class="icon-user"></i>
          <% end %>
        </li>
        <li class="sublevel">
          <%= link_to edit_private_user_path(current_user, do: "changePassword"), "data-push"=>"true", "data-target"=>"div.content" do %>
            change password<i class="icon-lock"></i>
          <% end %>
        </li>
        <li class="sublevel">
          <%= link_to destroy_user_session_path, method: :delete do %>
            logout<i class="icon-off"></i>
          <% end %>
        </li>
      </ul>
    </div>   
  </div>
  
  <% if current_user.room_admin? || current_user.super_admin %>
    <div id="pendingRoomContent">
      <div class="sidebarDivider"></div>
      <div class="sidebarContent">
        <%= render "private/shared/pending_rooms" %>
      </div>   
    </div>
  <% end %>
  <!-- ==================== SIDEBAR PROFILE ==================== -->
  <div id="profileContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> My account</h1></a>
      <h1>My account</h1>
      <div class="profileBlock">
        <div class="profileInfo">
          <%= image_tag(current_user.company.logo.url(:thumb), style: "width: 150px;") %>
          <hr/>
          <p><i class="icon-user"></i><strong><%= current_user.name %></strong></p>
          <p><i class="icon-envelope-alt"></i> <%= current_user.email %></p>
          <p><i class="icon-phone"></i> <%= current_user.phone %></p>
          <p><i class="icon-flag"></i> <%= current_user.department %></p>
        </div>
        <footer>
          <%= link_to edit_private_user_path(current_user, do: "editProfile"), "data-push"=>"true", "data-target"=>"div.content" do %>
            <div class="profileSettingBlock editProfile">
              <i class="icon-user"></i>
              edit profile
            </div>
          <% end %>
          <%= link_to edit_private_user_path(current_user, do: "changePassword"), "data-push"=>"true", "data-target"=>"div.content" do %>
            <div class="profileSettingBlock changePassword">
              <i class="icon-lock"></i>
              change password
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="profileSettingBlock logout">
              <i class="icon-off"></i>
              sign out
            </div>
          <% end %>
        </footer>
      </div>
    </div>
  </div>
  <!-- ==================== END OF SIDEBAR PROFILE ==================== -->

</div>
<!-- ==================== END OF SIDEBAR ==================== -->