<div class="hiddenContent">
  <div id="collapsedSidebarContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <ul class="collapsedSidebarMenu">
        <li><a href="#tasksContent" class="sidebar">Tasks <div class="notifyCircle cyan">3</div><i class="icon-chevron-sign-right"></i></a></li>
        <li><a href="#notificationsContent" class="sidebar">Notifications <div class="notifyCircle orange">9</div><i class="icon-chevron-sign-right"></i></a></li>
        <li><a href="#messagesContent" class="sidebar">Messages <div class="notifyCircle red">12</div><i class="icon-chevron-sign-right"></i></a></li>
        <li><a href="#settingsContent" class="sidebar">Settings<i class="icon-chevron-sign-right"></i></a></li>
        <li><a href="#profileContent" class="sidebar">Ing. Imrich Kamarel<i class="icon-chevron-sign-right"></i></a></li>
        <li class="sublevel"><a href="#">edit profile<i class="icon-user"></i></a></li>
        <li class="sublevel"><a href="#">change password<i class="icon-lock"></i></a></li>
        <li class="sublevel"><a href="#">logout<i class="icon-off"></i></a></li>
      </ul>
    </div>   
  </div>
  <!-- ==================== END OF SIDEBAR COLLAPSED ==================== -->
  <!-- ==================== SIDEBAR TASKS ==================== -->
  <div id="tasksContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> Tasks</h1></a>
      <h1>Tasks</h1>
      <div class="sidebarInfo">
        <div class="progressTasks"><span class="label">11</span> tasks in progress</div>
        <div class="newTasks"><span class="label cyan">3</span> new tasks</div>
      </div>
      <ul class="tasksList">
        <li class="new">
          <h3>Update database</h3>
          <span class="taskProgress">0%</span>
          <div class="progress progress-striped active">
            <div class="bar"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority red">High priority</div>
            <div class="tag status cyan">New task</div>
          </div>  
        </li>
        <li class="new">
          <h3>Clean CSS</h3>
          <span class="taskProgress">0%</span>
          <div class="progress progress-striped active">
            <div class="bar"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority orange">Normal priority</div>
            <div class="tag status cyan">New task</div>
          </div>  
        </li> 
        <li class="new">
          <h3>Clean JavaScript</h3>
          <span class="taskProgress">0%</span>
          <div class="progress progress-striped active">
            <div class="bar"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority green">Low priority</div>
            <div class="tag status cyan">New task</div>
          </div> 
        </li> 
        <li>
          <h3>Make a backup</h3>
          <span class="taskProgress">75%</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 75%;"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority green">Low priority</div>
          </div> 
        </li> 
        <li>
          <h3>Clean HTML</h3>
          <span class="taskProgress">50%</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 50%;"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority red">High priority</div>
          </div> 
        </li> 
        <li>
          <h3>Make a coffee</h3>
          <span class="taskProgress">25%</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 25%;"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority orange">Normal priority</div>
          </div> 
        </li> 
        <li>
          <h3>THEKAMAREL project</h3>
          <span class="taskProgress">100%</span>
          <div class="progress progress-striped">
            <div class="bar" style="width: 100%;"></div>
          </div>
          <div class="appendedTags">
            <div class="tag priority red">High priority</div>
            <div class="tag status grey">Finished task</div>
          </div> 
        </li>   
      </ul>
      <button class="btn btn-primary">View all</button>
    </div>   
  </div>
  <!-- ==================== END OF SIDEBAR TASKS ==================== -->

  <!-- ==================== SIDEBAR NOTIFICATIONS ==================== -->
  <div id="notificationsContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> Notifications</h1></a>
      <h1>Notifications</h1>
      <div class="sidebarInfo">
        <div><span class="label">32</span> notifications</div>
        <div><span class="label orange">9</span> new notifications</div>
      </div>
      <ul class="notificationsList">
        <li class="new first">
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">1 minute ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">3 minutes ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-comments"></i> New comment</div>
          <span class="notificationDate">15 minutes ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-shopping-cart"></i> New order</div>
          <span class="notificationDate">23 minutes ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-shopping-cart"></i> Order cancelled</div>
          <span class="notificationDate">1 hour ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-comments"></i> New comment</div>
          <span class="notificationDate">1 hour ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">3 hours ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">5 hours ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li class="new">
          <div><i class="icon-user"></i> User account cancelled</div>
          <span class="notificationDate">6 hours ago <span class="pull-right notificationStatus">new</span></span>
        </li>
        <li>
          <div><i class="icon-comments"></i> New comment</div>
          <span class="notificationDate">10 hour ago</span>
        </li>
        <li>
          <div><i class="icon-shopping-cart"></i> New order</div>
          <span class="notificationDate">23 hours ago</span>
        </li>
        <li>
          <div><i class="icon-comments"></i> New comment</div>
          <span class="notificationDate">yesterday</span>
        </li>
        <li>
          <div><i class="icon-shopping-cart"></i> New order</div>
          <span class="notificationDate">yesterday</span>
        </li>
        <li>
          <div><i class="icon-shopping-cart"></i> Order cancelled</div>
          <span class="notificationDate">yesterday</span>
        </li>
        <li>
          <div><i class="icon-comments"></i> New comment</div>
          <span class="notificationDate">01.03.2013</span>
        </li>
        <li>
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">01.03.2013</span>
        </li>
        <li>
          <div><i class="icon-user"></i> New user registered</div>
          <span class="notificationDate">02.03.2013</span>
        </li>
        <li>
          <div><i class="icon-user"></i> User account cancelled</div>
          <span class="notificationDate">02.03.2013</span>
        </li>
        <li>
          <div><i class="icon-shopping-cart"></i> New order</div>
          <span class="notificationDate">02.03.2013</span>
        </li>
        <li>
          <div><i class="icon-shopping-cart"></i> Order cancelled</div>
          <span class="notificationDate">03.03.2013</span>
        </li>
      </ul>
      <button class="btn btn-primary">View all</button>
    </div>    
  </div>
  <!-- ==================== END OF SIDEBAR NOTIFICATIONS ==================== -->

  <!-- ==================== SIDEBAR MESSAGES ==================== -->
  <div id="messagesContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> Messages</h1></a>
      <h1>Messages</h1>
      <div class="sidebarInfo">
        <div><span class="label">128</span> messages</div>
        <div><span class="label red">12</span> unreaded messages</div>
      </div>
      <ul class="messagesList">
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/rimmer-avatar.jpg" alt=""></div>
          <h3>Arnold Karlsberg</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/homer-avatar.jpg" alt=""></div>
          <h3>John Doe</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/peter-avatar.jpg" alt=""></div>
          <h3>Peter Kay</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/zoidberg-avatar.jpg" alt=""></div>
          <h3>George McCain</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/peter-avatar.jpg" alt=""></div>
          <h3>Peter Kay</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
        <li class="unreaded">
          <div class="messageAvatar"><img src="assets/private/rimmer-avatar.jpg" alt=""></div>
          <h3>Arnold Karlsberg</h3>
          <span class="messageDate">05.03.2013 17:55 <span class="pull-right messageStatus">unreaded</span></span> 
          <div class="messageContent">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad..."</div>
        </li>
      </ul>
      <button class="btn btn-primary">View all</button>
    </div>  
  </div>
  <!-- ==================== END OF SIDEBAR MESSAGES ==================== -->

  <!-- ==================== SIDEBAR SETTINGS ==================== -->
  <div id="settingsContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> Settings</h1></a>
      <h1>Settings</h1>
      <ul class="settingsList">
        <li>
          <div class="settingSlider">
            <i class="icon-leaf"></i><h3> Slider</h3>
            <div class="sl1"></div>
          </div>
        </li>
        <li>
          <div class="settingSlider">
            <i class="icon-leaf"></i><h3> RangeSlider</h3>
            <div class="sl2"></div>
          </div>
        </li>
        <li>
          <div class="settingToggler">
            <i class="icon-leaf"></i><h3> Toggler</h3>
            <label class="checkbox toggle well" onclick="">
              <input id="toggler" type="checkbox" checked />
              <span class="slider-selection"></span>
              <span class="toggleStatus">
                <span><i class="icon-ok toggleOn"></i></span>
                <span><i class="icon-remove toggleOff"></i></span>
              </span>

              <a class="btn btn-primary slide-button"></a>
            </label>
          </div>
        </li>

        <li class="fontSize">
          <h2>Font Size</h2>
          <div class="fontSizeBlock fontSizeSmall active"><span>A</span></div>
          <div class="fontSizeBlock fontSizeMedium"><span>A</span></div>
          <div class="fontSizeBlock fontSizeBig"><span>A</span></div>
        </li>

        <li class="fontStyle">
          <h2>Font Style</h2>
          <div class="fontStyleBlock fontStyleSansSerif active"><span>Aa</span></div>
          <div class="fontStyleBlock fontStyleSerif"><span>Aa</span></div>
        </li>

      </ul>
    </div>
  </div>
  <!-- ==================== END OF SIDEBAR SETTINGS ==================== -->

  <!-- ==================== SIDEBAR PROFILE ==================== -->
  <div id="profileContent">
    <div class="sidebarDivider"></div>
    <div class="sidebarContent">
      <a href="#collapsedSidebarContent" class="showCollapsedSidebarMenu"><i class="icon-chevron-sign-left"></i><h1> My account</h1></a>
      <h1>My account</h1>
      <div class="profileBlock">
        <div class="profileInfo">
          <%= image_tag(current_user.company.logo.url(:thumb), style: "width: 150px;") %>
          <hr/>
          <p><i class="icon-user"></i><strong><%= current_user.name %></strong></p>
          <p><i class="icon-envelope-alt"></i> <%= current_user.email %></p>
          <p><i class="icon-phone"></i> <%= current_user.phone %></p>
          <p><i class="icon-flag"></i> <%= current_user.department %></p>
        </div>
        <footer>
          <%= link_to edit_private_user_path(current_user, do: "editProfile"), "data-push"=>"true", "data-target"=>"div.content" do %>
            <div class="profileSettingBlock editProfile">
              <i class="icon-user"></i>
              edit profile
            </div>
          <% end %>
          <%= link_to edit_private_user_path(current_user, do: "changePassword"), "data-push"=>"true", "data-target"=>"div.content" do %>
            <div class="profileSettingBlock changePassword">
              <i class="icon-lock"></i>
              change password
            </div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="profileSettingBlock logout">
              <i class="icon-off"></i>
              sign out
            </div>
          <% end %>
        </footer>
      </div>
    </div>
  </div>
  <!-- ==================== END OF SIDEBAR PROFILE ==================== -->

</div>
<!-- ==================== END OF SIDEBAR ==================== -->