<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title><%= content_for?(:title) ? yield(:title) : "OfficeService - Meeting Room" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "private", :media => "all" %>
     <%= csrf_meta_tags %>
  </head>
  <body class="<%= devise_controller? ? "" : "dashboard" %>" data-pjax-container>
    <!--[if lt IE 7]>
      <p class="chromeframe">In <%= Date.today.strftime("Y") %>, You are still using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <% if !devise_controller? && params[:action] !~ /profile/i %>
      <%= render "private/shared/top_menu" %>
      <%= render "private/shared/side_bar" %>
      <%= render "private/shared/main_menu" %>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
    <%= javascript_include_tag "private" %>
  </body>
</html>